.rejestr {
    background-color: lightgray;
    margin: 5px;
}
.rejestr table {
    table-layout: fixed;
}

#gora {
    display: flex;
    gap: 10px;
}
#gora > * {
    width: 33%;
}
#dol {
    display: flex;
    gap: 10px;
}
#dol > * {
    width: 33%;
}

#rozwijacz {
    width: 100%;
    display: flex;
    position: relative;
}
#rozwijacz:not([data-rozwiniety]) + #dol {
    display: none;
}
#rozwijacz[data-rozwiniety] > button {
    rotate: 180deg;
    transform: translate(50%, 50%);
}
#rozwijacz > button {
    position: absolute;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
}
#rozwijacz > div {
    background-color: darkgray;
    width: 100%;
    height: 1px;
}
