.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 300px;
    z-index: 1;
    background-color: lightgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content > * {
    display: block;
}
